.mat-snack-bar-container {
    background-color: #323232; /* Dark background */
    color: #fff; /* White text */
  }
  
  .mat-simple-snackbar-action {
    color: #ff4081; /* Pink action button */
  }