<div class="untree_co-section product-section before-footer-section">

    <div class="container">
        <div class="row">
          <a routerLink="ficus" class="col-md-4">
          <div class=" image-frame" >
            <div class="thumbnail">
             
                <img src="assets/FICUS/FICUS 1.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <b>Ficus.</b>
                </div>
             
            </div>
          </div>
        </a>
        <a routerLink="aglonima" class="col-md-4" >
          <div class=" image-frame" >
            <div class="thumbnail">
              
                <img src="assets/AGLONIMA/1.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <b>Aglonima.</b>
                </div>
            </div>
          </div>  
        </a>
        <a routerLink="alocasia" class="col-md-4" >
        <div class="image-frame" >
            <div class="thumbnail">
                <img src="assets/ALOCASIA/1.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <b>Alocasia.</b>
                </div>
            </div>
          </div>
        </a>
        </div>
        <div class="row">
          <a routerLink="pepromia" class="col-md-4" >
            <div class="image-frame" >
              <div class="thumbnail">
                  <img src="assets/PEPROMIA/1.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                    <b>Pepromia.</b>
                  </div>
              </div>
            </div>
          </a>
        
          <!-- <div class="col-md-4 image-frame" >
            <div class="thumbnail">
              <a href="/w3images/lights.jpg" target="_blank">
                <img src="assets/AGLONIMA/1.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <b>Aglonima.</b>
                </div>
              </a>
            </div>
          </div>  
        <div class="col-md-4 image-frame" >
            <div class="thumbnail">
              <a href="/w3images/lights.jpg" target="_blank">
                <img src="assets/ALOCASIA/1.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <b>Alocasia.</b>
                </div>
              </a>
            </div>
          </div> -->
        </div>
      </div>
</div>